<settings>
	<catalogues>
		<catalog>
			<name>CSW GDI-BY</name>
			<url>http://geoportal.bayern.de/csw/gdi?service=CSW&amp;request=GetCapabilities</url>
		</catalog>
	</catalogues>
	<wms>
		<service>
			<name>basemap.de Web Raster Grau</name>
			<url>http://sgx.geodatenzentrum.de/wms_basemapde</url>
			<layer>de_basemapde_web_raster_grau</layer>
			<source>© basemap.de / BKG 2023</source>
		</service>
	</wms>
	<services></services>
    <application>
        <requestTimeout_s>35</requestTimeout_s>
    </application>
    <basedir></basedir>
</settings>
